
.action-container{
    
    display:flex;
  flex-direction:row;
}

.actions-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    
}

/* responsive with media query */

@media only screen and (max-width: 425px){
	

    .actions-container{
        grid-template-columns: repeat(1, 1fr);       
    }
        
}


/* @media screen and (min-width:577px) and  (max-width:992px) {
    .actions-container{
       grid-template-columns: repeat(3, 2fr);
    }
    
} */


